@font-face {
    font-family: 'Jersey';
    src: url('../FONTS/Jersey20-Regular.ttf') format('truetype');
}

:root {
  --cor-roxo-principal: #583BCE;
  --cor-azul-escuro: #112A51;
  --cor-preto: #191919;
  --cor-amarelo: #EAA918;
  --cor-roxo-claro: #7976FF;
  --cor-azul-ciano: #0BBBEF;
  --cor-cinza: #737171;
  --cor-branco: #FAFAFA;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cor-azul-escuro);
    margin: 0;
    font-family: "Jersey", sans-serif;
}

.control {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}


.botoes-esquerda button{
  background: none;
  border: none;
  color: white;
  font-size: 5vh;
  cursor: pointer;
}

#tempoRestante {
  color: white;
  font-size: 5vh;
  display: flex;
  align-items: center;
  gap: 10px;
}

.puzzle-container {
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    border: 4px solid #EAA918;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.piece {
    width: 150px;
    height: 150px;
    background-image: url("../IMG/Unirobozin.svg");
    background-size: 450px 450px;
    cursor: grab;
}

.piece:active {
    cursor: grabbing;
    transform: scale(1.05);
}


@media screen and (max-width: 720px) {

  .control {
    padding: 20px;
  }

  .botoes-esquerda button {
    font-size: 7vh; /* aumenta o botão de voltar */
  }

  #tempoRestante {
    font-size: 6vh; /* aumenta o cronômetro */
  }

  .puzzle-container {
    width: 90vw; /* agora ocupa 90% da largura da tela */
    height: 90vw; /* mantém ele quadrado */
    max-width: 450px; /* limita para não estourar em telas maiores */
    max-height: 450px;
  }

  .piece {
    width: calc(90vw / 3); /* divide dinamicamente por 3 colunas */
    height: calc(90vw / 3);
    background-size: 90vw 90vw; /* adapta o background */
  }
}
